<h1>Welcome to the South</h1>
<p>
	This section contains all
	pavillion rental information
	and the operator who is currently
	on duty. If you need to contact us, please leave us your concerns below and we will do our best to accomodate your request. Thank you. 

</p>


<% if user_signed_in? %>
        <li><%= link_to 'Request Service',
        'articles' %></li>
        <% end %> 